
* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  position: relative;
}

h1 {
  font-size: 46px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-weight: 400;
 /* line-height: 56px;
  letter-spacing: 0.48px;*/
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-weight: 400;
}

h3 {
  font-size: 30px;
  font-style: italic;
  text-align: center;
 /* letter-spacing: -0.15px;*/
}

h4 {
  font-size: 48px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 25px;
}

.container {
  max-width: 940px;
}

.row {
  position: relative;
}

.section {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-white {
  background: #faf7f7;
  padding: 40px 0 60px;
}

.section-white h3 {
  font-weight: 700;
  margin-top: 10px;
}

.section-white .title-blue {
  margin-bottom: 50px;
}

.section-blue {
  background: #1d2b3a;
  padding: 40px 0 80px;
}

.section-blue h2 {
  font-style: normal;
  color: #faf7f7;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
}

.section-blue h2 > span {
  color: #db2a1e;
}

.section-blue .title-white {
  margin-bottom: 50px;
}

.section-blue .title-24,
.section-blue h3 {
  font-weight: 700;
  text-align: center;
}

.section-red {
  background: #ce686c;
  padding: 40px 0 60px;
}

.section-red .title-24,
.section-red h4 {
  color: #faf7f7;
  text-align: center;
  margin: 50px 0 30px;
}

.section-red .title-18 {
  color: #1d2b3a;
  font-style: normal;
  font-weight: 700;
}

.title-14 {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 0 30px;
}

.title-14 span {
  color: #db2a1e;
}

.title-18 {
  font-style: italic;
  display: block;
  text-align: center;
}

.title-24 {
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  display: block;
}

.title-top {
  margin-bottom: 50px;
}

.title-bottom {
  margin-top: 50px;
}

.title-red {
  color: #db2a1e;
}

.title-blue {
  color: #1d2b3a;
}

.title-white {
  color: #faf7f7
}

.index {
  z-index: 100;
}


/*  header  */

.header {
  background: url("../img/head.jpg") no-repeat center / cover;
  display: block;
  width: 100%;
  min-height: 680px;
  color: #ffffff;
}

.header h1 {
  position: relative;
  top: 200px;
}

.header h3 {
  position: relative;
  top: 305px;
  font-weight: 300;
}


/*  prices  */

.section-prices .title-24 {
  color: #db2a1e;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

.box-section-white {
  margin-top: 40px;
}

.ico-box {
  display: block;
  width: 108px;
  height: 101px;
  position: relative;
  left: 50%;
  margin-left: -54px;
}

.btn-primary {
  border: 3px solid #db2a1e;
  border-radius: 10px;
  color: #db2a1e;
  font-style: italic;
  text-transform: uppercase;
  background: #faf7f7;
  font-size: 18px;
  font-weight: 700;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #db2a1e;
  color: #faf7f7;
  border-color: #db2a1e;
}

.btn-sm {
  width: 100%;
  height: 40px;
  padding: 0;
  line-height: 36px;
}

.box-section-white .btn-sm {
  margin-top: 20px;
}


.prices-box:nth-child(2) .ico-box {background: url('../img/sprite-ico-1.png') no-repeat 0 0 / cover;}
.prices-box:nth-child(3) .ico-box {background: url('../img/sprite-ico-1.png') no-repeat 0 -101px / cover;}
.prices-box:nth-child(4) .ico-box {background: url('../img/sprite-ico-1.png') no-repeat 0 -202px / cover;}
.prices-box:nth-child(5) .ico-box {background: url('../img/sprite-ico-1.png') no-repeat 0 -303px / cover;}
.prices-box:nth-child(6) .ico-box {background: url('../img/sprite-ico-1.png') no-repeat 0 -404px / cover;}


/*  discount  */

.form-control:active,
.form-control:focus {
  box-shadow: none;
}

.form-discount .form-control {
  border: 3px solid #faf7f7;
  border-radius: 10px;
  height: 60px;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #faf7f7;
}

.form-control::-webkit-input-placeholder {color:#faf7f7;}
.form-control::-moz-placeholder {color:#faf7f7;}
.form-control:-moz-placeholder {color:#faf7f7;}
.form-control:-ms-input-placeholder {color:#faf7f7;}


.btn-lg {
  width: 100%;
  height: 60px;
}

.form-discount .btn-primary {
  background: rgba(0, 0, 0, 0);
  font-style: normal;
}

.form-discount .btn-primary:hover,
.form-discount .btn-primary:active,
.form-discount .btn-primary:focus {
  border-color: #faf7f7;
  color: #faf7f7;
}


/*  information  */

.section-information .title-24 {
  color: #db2a1e;
  font-weight: 700;
  text-align: left;
  margin-top: 15px;
}

.box-info-360,
.img-box-360 {
  height: 360px;
}

.box-info-300,
.img-box-300 {
  height: 300px;
}

.box-info-260,
.img-box-260 {
  height: 260px;
}

.box-info-220,
.img-box-220 {
  height: 220px;
}

.box-info {
  background: #ffffff;
}

.box-text {
  text-align: left;
  margin-bottom: 15px;
}

.box-text p {
  font-weight: 700;
  font-size: 18px;
  color: #1d2b3a;
  margin-bottom: 25px;
}

.section-information .img-row-1 {background: url('../img/img-01.jpg') no-repeat scroll center center / cover;}
.section-information .img-row-2 {background: url('../img/img-02.jpg') no-repeat scroll center center / cover;}
.section-information .img-row-3 {background: url('../img/img-03.jpg') no-repeat scroll center center / cover;}
.section-information .img-row-4 {background: url('../img/img-04.jpg') no-repeat scroll center center / cover;}


/*  order  */

.ico-order {
  width: 124px;
  height: 123px;
  display: inline-block;
  position: relative;
  left: 50%;
  margin-left: -62px;
  border-radius: 100%;
  border: 3px solid #faf7f7;
}

.order-box .title-18 {
  position: relative;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  color: #faf7f7;
}

.empty-box {
  width: 100%;
  min-height: 182px;
}

.order-box:hover .ico-order,
.order-box:active .ico-order,
.order-box:focus .ico-order {
  border-color: #db2a1e;
}

.order-box:hover .title-18,
.order-box:active .title-18,
.order-box:focus .title-18 {
  color: #db2a1e;
}

.row-3 {
  margin-top: 100px;
}

.section-order {
  padding: 40px 0;
}

.section-order .text {
  text-align: center;
  color: #faf7f7;
  font-weight: 700;
  position: absolute;
  top: -530px;
}

.section-order .text > span {
  color: #db2a1e;
}

#infoDiv> span {
  color: #db2a1e;
}

.section-blue .btn-primary {
  color: #faf7f7;
  border-color: #faf7f7;
  background: rgba(0, 0, 0, 0);
}

.section-order .btn-primary {
  margin-top: 90px;
}

.section-blue .btn-primary:hover,
.section-blue .btn-primary:active,
.section-blue .btn-primary:focus {
  background: #faf7f7;
  color: #1d2b3a;
}

.order-col:nth-child(2) .ico-order{background: url('../img/sprite-order.png') no-repeat 0 0;}
.order-col:nth-child(3) .ico-order {background: url('../img/sprite-order.png') no-repeat 0 -123px;}
.order-col:nth-child(5) .ico-order {background: url('../img/sprite-order.png') no-repeat 0 -820px;}
.order-col:nth-child(6) .ico-order {background: url('../img/sprite-order.png') no-repeat 0 -230px;}
.order-col:nth-child(7) .ico-order {background: url('../img/sprite-order.png') no-repeat 0 -703px;}
.order-col:nth-child(8) .ico-order {background: url('../img/sprite-order.png') no-repeat 0 -347px;}
.order-col:nth-child(9) .ico-order {background: url('../img/sprite-order.png') no-repeat 0 -580px;}
.order-col:nth-child(10) .ico-order {background: url('../img/sprite-order.png') no-repeat 0 -468px;}


/*  offers  */

.offers-section p {
  font-weight: 700;
  font-size: 14px;
  padding: 12px 15px 25px;
}

.offers-section .title-18 {
  font-style: normal;
  color: #1d2b3a;
  font-weight: 700;
}

.offers-section .title-18 > span {
  color: #db2a1e;
}

.white-box {background: #ffffff; color: #1d2b3a; padding: 0;}
.red-box   {background: #ce686c; color: #faf7f7; padding: 0;}
.blue-box  {background: #1d2b3a; color: #faf7f7; padding: 0;}

.top-box--20 {margin-top: -20px;}
.top-box--40 {margin-top: -40px;}
.top-box--60 {margin-top: -60px;}
.top-box-40 {margin-top: 40px;}
.top-box-60 {margin-top: 60px;}


.img-box {
  width: 100%;
  height: 160px;
  display: block;
}

.offers-top-box:nth-child(1) .img-box {background: url('../img/img-05.jpg') no-repeat center / cover;}
.offers-top-box:nth-child(2) .img-box {background: url('../img/img-06.jpg') no-repeat center / cover;}
.offers-top-box:nth-child(3) .img-box {background: url('../img/img-07.jpg') no-repeat center / cover;}
.offers-top-box:nth-child(4) .img-box {background: url('../img/img-08.jpg') no-repeat center / cover;}
.offers-bottom-box:nth-child(1) .img-box {background: url('../img/img-09.jpg') no-repeat center / cover;}
.offers-bottom-box:nth-child(2) .img-box {background: url('../img/img-10.jpg') no-repeat center / cover;}
.offers-bottom-box:nth-child(3) .img-box {background: url('../img/img-11.jpg') no-repeat center / cover;}
.offers-bottom-box:nth-child(4) .img-box {background: url('../img/img-12.jpg') no-repeat center / cover;}


/* service */

.ico-circle {
  display: block;
  width: 140px;
  height: 140px;
  position: relative;
  left: 50%;
  margin: 35px 0 20px -70px;
  border: 3px solid #faf7f7;
  padding: 7px;
  border-radius: 100%;
}

.ico-circle-head {background: rgba(0, 0, 0, 0) url("../img/ico-manager.png") no-repeat scroll center center}

.service-box:nth-child(2) .ico-circle {background: url('../img/sprite-ico-circle.png') no-repeat 7px 7px;}
.service-box:nth-child(3) .ico-circle {background: url('../img/sprite-ico-circle.png') no-repeat 7px 7px;}
.service-box:nth-child(4) .ico-circle {background: url('../img/sprite-ico-circle.png') no-repeat 7px -120px;}
.service-box:nth-child(5) .ico-circle {background: url('../img/sprite-ico-circle.png') no-repeat 7px -247px;}
.service-box:nth-child(6) .ico-circle {background: url('../img/sprite-ico-circle.png') no-repeat 7px -374px;}
.service-box:nth-child(7) .ico-circle {background: url('../img/sprite-ico-circle.png') no-repeat 7px -501px;}
.service-box:nth-child(8) .ico-circle {background: url('../img/sprite-ico-circle.png') no-repeat 7px -628px;}
.service-box:nth-child(9) .ico-circle {background: url('../img/sprite-ico-circle.png') no-repeat 7px -754px;}

.box-services {
  position: relative;
  min-height: 215px;
}

.number {
  font-size: 18px;
  color: #1d2b3a;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  display: block;
  padding-top: 8px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #faf7f7;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: -20px;
  z-index: 101;
}

.box-services .title-18 {
  color: #faf7f7;
  font-style: italic;
}

.next-1,
.next-2,
.next-3,
.next-4,
.next-5,
.next-6 {
  display: block;
  width: 20px;
  height: 20px;
  background: #faf7f7;
  border-radius: 100%;
  position: absolute;
  right: -10px;
  top: 100px;
}

.box-services:hover .number,
.box-services:active .number,
.box-services:focus .number {
  background: #1d2b3a;
  color: #faf7f7;
}

.box-services:hover .ico-circle,
.box-services:active .ico-circle,
.box-services:focus .ico-circle {
  border-color: #1d2b3a;
}

.tooltip-inner {
  background-color: rgba(250, 247, 247, 1);
  color: #1d2b3a;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0;
  padding: 10px;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #faf7f7;
}

.section-red .btn-primary {
  border-color: #faf7f7;
  color: #faf7f7;
  background: rgba(0, 0, 0, 0);
  margin-top: 50px;
}

.section-red .btn-primary:hover,
.section-red .btn-primary:active,
.section-red .btn-primary:focus {
  background: #faf7f7;
  color: #1d2b3a;
}


/*  comment  */

.section-comment {
  background: url('../img/img-background-02.jpg') no-repeat center / cover;
  padding: 50px 0 50px;
}

.section-comment h3 {
  font-weight: 700;
}

#myCarousel {
  margin-top: 60px;
  margin-bottom: 60px;
}

#myCarousel .title-18 {
  font-style: normal;
  font-weight: 700;
}

#myCarousel .item > span {
  text-transform: uppercase;
  font-style: italic;
  margin-top: 30px;
}

.carousel-indicators {
  bottom: -60px;
}

.carousel-indicators li {
  background-color: #1d2b3a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0px;
  text-indent: -999px;
  width: 15px;
}

.carousel-indicators .active {
  background-color: #db2a1e;
  height: 15px;
  margin: 0;
  width: 15px;
}

.carousel-indicators li:hover {
  background: #db2a1e;
}

.carousel-inner {
  height: 300px;
}


/*  partnership  */

.section-partnership .btn-primary {
  margin-top: 90px;
}

.arrow-box {
  background: url("../img/img-arrow.png") no-repeat center / cover;
  width: 912px;
  height: 389px;
  z-index: 99;
  display: block;
  position: absolute;
  top: 325px;
  left: 100px;
}

.top-box-75 {
  margin-top: 75px;
}

.box-img {
  display: block;
  width: 120px;
  height: 120px;
  position: relative;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.box-circle-img {
  z-index: 100;
}

.box-circle-img .title-18 {
  font-weight: 700;
}
 

.partnership-box:nth-child(3) .box-img {background: rgba(0, 0, 0, 0) url("../img/sprite-ico-circle-2.png") no-repeat scroll 0 0;}
.partnership-box:nth-child(4) .box-img {background: rgba(0, 0, 0, 0) url("../img/sprite-ico-circle-2.png") no-repeat scroll 0 -120px;}
.partnership-box:nth-child(5) .box-img {background: rgba(0, 0, 0, 0) url("../img/sprite-ico-circle-2.png") no-repeat scroll 0 -240px;}
.partnership-box:nth-child(6) .box-img {background: rgba(0, 0, 0, 0) url("../img/sprite-ico-circle-2.png") no-repeat scroll 0 -360px;}
.partnership-box:nth-child(7) .box-img {background: rgba(0, 0, 0, 0) url("../img/sprite-ico-circle-2.png") no-repeat scroll 0 -480px;}
.partnership-box:nth-child(8) .box-img {background: rgba(0, 0, 0, 0) url("../img/sprite-ico-circle-2.png") no-repeat scroll 0 -600px;}
.partnership-box:nth-child(9) .box-img {background: rgba(0, 0, 0, 0) url("../img/sprite-ico-circle-2.png") no-repeat scroll 0 -720px;}


/*  footer  */

.footer {
  background: #faf7f7;
  padding: 50px 0 60px;
  color: #1d2b3a;
}

.footer .title-blue {
  font-weight: 700;
}

.line {
  display: block;
  width: 140px;
  height: 10px;
  position: relative;
  left: 50%;
  margin: 20px 0 30px -70px;
  background: #1d2b3a;
}

.copyright {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

.dev {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.dev span {
  background: url("../img/logo-dev.png") no-repeat center / cover;
  width: 133px;
  height: 29px;
  display: inline-block;
  margin-left: 20px;
}


/*  modal-order  */

.modal-content {
  max-width: 460px;
  min-height: 540px;
  border-radius: 12px;
  left: 50%;
  margin-left: -230px;
}

.modal-body {
  min-height: 540px;
  background: #1d2b3a;
  border-radius: 10px;
  padding: 30px 15px 50px;
}

.modal-header {
  border: none;
}

.modal-header .title-18 {
  font-style: normal;
  font-weight: 700;
  margin: 0 0 30px;
}

.form-modal .form-control {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 3px solid #db2a1e;
  border-radius: 10px;
  color: #faf7f7;
  font-size: 18px;
  font-weight: 700;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}

.form-modal .btn-primary {
  background: rgba(0, 0, 0, 0);
  color: #faf7f7;
  font-style: normal;
  margin-top: 20px;
}

.form-modal .btn-primary:hover,
.form-modal .btn-primary:active,
.form-modal .btn-primary:focus {
  background: #db2a1e;
}

.form-modal .form-group {
  margin-bottom: 20px;
}

.modal-header .close {
  color: #f3f7f7;
  font-size: 40px;
  font-weight: 100;
  position: absolute;
  right: 10px;
  top: -23px;
  opacity: 1;
}

.ico-ok {
  background: url("../img/ico-ok.png") no-repeat center;
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 100%;
  border: 3px solid #db2a1e;
  position: relative;
  left: 50%;
  margin-left: -60px;
  padding: 60px;
}

.modal-header .title-bottom {
  margin-top: 30px;
  padding: 0 30px;
}

.adaptive{
  display: none;
}
  

/*  @media  */

@media (max-width: 1920px) {
  .next-4 {
    display: none;
  }
}

@media (max-width: 1200px) {
  .arrow-box {
    height: 363px;
    left: 90px;
    top: 340px;
    width: 850px;
  }
}

@media (max-width: 992px) {
  h1,
  h4 {
    font-size: 38px;
  }
  h3 {
    font-size: 24px;
  }
  .title-24 {
    font-size: 20px;
  }
  .title-14 {
    padding: 0;
  }
  .title-18 {
    font-size: 14px;
  }
  .box-text p {
    font-size: 16px;
  }
  .text {
    font-size: 16px;
  }
  .next-4 {
    display: block;
  }
  .next-3,
  .next-6 {
    display: none;
  }
  .btn-primary {
    font-size: 16px;
  }
  .form-modal .form-control,
  .form-discount .form-control {
    font-size: 16px;
  }
  .top-box-75 {
    margin-top: 0;
  }
  .arrow-box {
    display: none;
  }
  .top-box-60,
  .top-box-40,
  .top-box-20,
  .top-box--20,
  .top-box--60,
  .top-box--40 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .modal-header .title-18 {
    padding: 0 40px;
  }
  .offers-section .col-sm-6 {
    display: inline-block;
    float: none;
    margin-left: -3px;
  }
}

@media (max-width: 768px) {

 /* .header {
    min-height: 480px;
  }
  .header h1{
    top: 100px;
  }
  .header h3{
    top: 200px;
  }*/
  .next-1,
  .next-2,
  .next-3,
  .next-4,
  .next-5,
  .next-6 {
    display: none;
  }
  .empty-box {
    display: none;
  }
  .text {
    display: none;
  }
  .row-3 {
    margin-top: 0;
  }
  .order-box {
    margin-bottom: 20px;
  }
  .btn-primary {
    font-size: 13px;
  }
  .form-modal .form-control,
  .form-discount .form-control {
    font-size: 13px;
  }
  .top-box-60,
  .top-box-40,
  .top-box-20,
  .top-box--20,
  .top-box--60,
  .top-box--40 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .adaptive{
    display: block;
  }
  .normal{
    display: none;
  }
  .box-info-360,
  .img-box-360 {
    height: 280px;
  }

  .box-info-300,
  .img-box-300 {
    height: 220px;
  }

  .box-info-260,
  .img-box-260 {
    height: 180px;
  }

  .box-info-220,
  .img-box-220 {
    height: 140px;
  }

}

@media (max-width: 540px) {
  .index .btn-primary {
    white-space: normal;
    height: 100px;
    line-height: 25px;
  }
  .top-box-60,
  .top-box-40,
  .top-box-20,
  .top-box--20,
  .top-box--60,
  .top-box--40 {
    margin-top: 0;
    margin-bottom: 0;
  }

}

@media (max-width: 480px) {
  h1,
  h4 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .title-24 {
    font-size: 18px;
  }
  .title-18 {
    font-size: 14px;
  }
  .box-text p {
    font-size: 14px;
  }
  .header h3 {
    top: 400px;
  }
  .top-box-60,
  .top-box-40,
  .top-box-20,
  .top-box--20,
  .top-box--60,
  .top-box--40 {
    margin-top: 0;
    margin-bottom: 0;
  }

}

clearfix::after,
.container::after {
  clear: both;
}